html, body {
  margin: 0;
  background-color: gray;
}

#calculator {
  background-color: black;
  width: 25%;
  margin: 0 auto;
  margin-top: 10%;
  border: solid 4px black;
}

#display {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: right;
  font-size: 25px;
}

#buttons {
  background-color: gray;
}

#row {
  display: flex;
  flex-direction: row;
}

.buttonLarge {
  background-color: red;
  cursor: pointer;
  width: 60%;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.buttonSmall {
  background-color: rgb(83, 82, 82);
  cursor: pointer;
  width: 30%;
  font-size: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.buttonEquals {
  background-color: rgb(25, 25, 114);
  cursor: pointer;
  width: 30%;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

#zero {
  background-color: rgb(83, 82, 82);
}